html,body{
  margin: 0;
  padding: 0;
  font-family: 'roboto', sans-serif;
 overflow-x: clip;

}

/* Header styles  */

.seeds-logo{
  padding-left: 50px;
  padding-top:20px;
}

.seeeds-mob-logo
{
  padding-left: 20px;
}

.header-bg {
  position: relative !important;
  right: -130px !important;
  background-color: #d70140;
  border-radius: 0 0 0 60px;
}

.header-icon{
  position: relative !important;
  right:-100px !important;
  color: #fff;
}

.header-content {
  position: relative !important;
  right: -80px !important;
  text-decoration: none;
  color: white;
  padding: 30px;
}

.header-content:hover {
  color: rgb(255, 255, 255);
}


.login-btn {
  position: relative !important;
  right: -80px !important;
  border-radius: 30px;
  font-size: 1.2rem;
  color: #000;
  padding: 5px 15px;
}


.login-btn:hover {
  background: #fca7a7;
}

/* Header styles end  */



/* Navigation style  */

#navbar{
  position: sticky;
  top: 0;
  background: #fff;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  z-index: 10;
}

li {
  position: relative;
  left: 30px;
  color: #533549 !important;
  font-size: 20px;
  padding:0 0 10px 10px;
}

.nav-link-style {
  position: relative;
  left: 30px;
  color: #533549 !important;
  font-size: 20px;
  padding:0 0 10px 10px;
}

.nav-link-style:hover{
  color: #d70140 !important;
}

.active {
  color: #d70140 !important;
  font-size: 20px;
  font-weight: bold;
}



/* Navigation style end*/


/* Side buttons style  */

#sidebtn .animation-icon {
  position: fixed;
  right: -60px;
  transition: 0.3s;
  padding: 15px;
  width: 100px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  z-index: 10;
}

#sidebtn .animation-icon:hover {
  right: 0;
  width: 150px;
}

#Donate {
  top: 310px;
  background-color: #d70140;
  border-radius: 10px 0 0 0 ;
  font-size: .9rem !important;
}

#volunteer {
  top: 370px;
  background-color: #d70140;
  font-size: .9rem !important;

}

#apply {
  top: 430px;
  background-color: #d70140;
  border-radius:0 0 0 10px ;
  font-size: .9rem !important;
}

/* Side buttons style end*/



/* Donate button style  */
#Donate {
  top: 310px;
  background-color: #d70140;
  border-radius: 10px 0 0 0 ;
  font-size: .9rem !important;
}

/* Volunter button style  */
#Volunter {
  top: 370px;
  background-color: #d70140;
  font-size: .9rem !important;

}

/* Apply button style  */
#Apply {
  top: 430px;
  background-color: #d70140;
  border-radius:0 0 0 10px ;
  font-size: .9rem !important;

}

/* Header styles  */
/* Login content  */
.right-content {
  position: relative !important;
  right: -100px !important;
  background-color: #d70140;
  border-radius: 0 0 0 60px;
}

/* Login/sign in button  */
.login-btn {
  border-radius: 30px;
  font-size: 1.2rem;
  border: none;
  color: black;
  padding: 3px 10px;
}

/* over all icon styles  */
.icon-content{
  position: relative !important;
  right:-100px !important;
  color: #fff;
}

/* Contact@seeds.org and number link  */
.link-sty {
  text-decoration: none;
  color: white;
  padding: 30px;
}

.link-sty:hover{
  color: #fff;
}

/* content style  */
.align-sty{
  align-items: center;
  justify-content: center;
  text-align: center;
}

a.normal-btn{
  background: #d70140 !important;
  color: #fff;
  padding: .8em 2em;
  font-weight: bolder;        
  font-size: 1.2em;
  line-height: 0.5;
  border-radius: 2em;
  margin-right: 60px;
}

a.normal-btn:hover{
  background: #fca7a7 !important;
  color: #fff;
}

/* background image fixed style  */
.wrapper {
  height: 100%;
  line-height: 1.5;
  word-spacing: 4px;
  letter-spacing: 1px;
}

.fixed-bg {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height:400px;
  width: 100%;
  color: white;
  display: table;
}

.bg-fixed-img-content {
  color: #fff;
  font-size: 1.4rem;
  padding-top: 50px;
  font-weight: normal !important;
}

.bg-fixed-img-title{
  text-align: center;
}

.heading{
  background-color: #0f0f0a !important;
  padding: 10px 70px;
  display: table-cell;
  opacity: 0.8 !important;
}

.bg-fixed-img-span{
  color: #d70140;
}
/* first section */

.bg-img {
  /* background-image: url('https://www.dl.dropboxusercontent.com/s/dk3s266jb5klmba/bg1.jpg'); */
  background-image: url('image/banner_2.png');
}
/* -----  */



/* Mobile-view styles navbars */
.mob-hamburger{
  background-color: #d70140;
}

.navbar-mob-desk{
 background-color: black;
}

/* mobile animation btn Donate,Volunter,Apply */
#mob-Donate{
  top: 200px;
  background-color: #d70140;
  border-radius: 10px 0 0 0 ;
  font-size: .9rem !important;
}

#mob-Volunter {
  top: 260px;
  background-color: #d70140;
  font-size: .9rem !important;
}

#mob-Apply {
  top: 320px;
  background-color: #d70140;
  border-radius:0 0 0 10px ;
  font-size: .9rem !important;
}
/* ----  */

/* Ipad animation buttons style Donate.Volunter,Apply  ----*/
#ipad-Donate{
  top:100px;
  background-color: #d70140;
  border-radius: 10px 0 0 0 ;
  font-size: .9rem !important;
}

#ipad-Volunter{
  top:160px;
  background-color: #d70140;
  font-size: .9rem !important;
}

#ipad-Apply{
  top:220px;
  background-color: #d70140;
  border-radius:0 0 0 10px ;
  font-size: .9rem !important;
}
/* ----  */


/* card carousel  */
    .card-carousel-background-sty{
        background-color: pink;
        padding-bottom: 20px;
    }
    .card-carousel-span{
        color: #d70140;
    }

    .card-carousel-head{
        align-items: center;
        text-align: center;
        padding-top: 20px;
    }

    .card-carousel-img{
        width:200px;
        height: 200px;
    }

    .card-carousel-icon{
        color: #d70140 !important;
    }

    .card-carousel-img-name{
        text-align: center;
        color: black;
    }

    .card-carousel-pref-name{
        text-align: center;
        color: black;
    }

    /* bg-img-2  */
    
   .bg-img-fix-2{
    background-image: url('image/banner_1.jpg');
   }

   /* Responsive card-carousel  */

   .card-carousel-img_2 {
    width: 100px;
    height: 100px;
}

.card-carousel-img_3{
    width:200px;
    height: 200px;
}

@media (max-width:425px) {
  a.normal-btn{
    margin: 18px;
  }
}